<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DemoBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('home')}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_blog')}}">Liste des articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('blog_create')}}">Création d'un article</a>
        </li>
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout')}}">Déconnexion</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register')}}">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>


{# 
. Exo route et condition app.user
/ Ajouter dans la navbar les liens vers les routes app_register (création de compte), app_login (connexion) et app_logout (déconnexion) :

-> si l'utilisateur est connecté, seul le lien vers app_logout doit être affiché
-> sinon, l'utilisateur n'est pas connecté, donc les liens vers app_register et app_login doivent être affichés

. Exo
Modifier le code du demoblog afin que seuls les membres (les utilisateurs connectés) puissent poster un commentaire :
-1 Supprimer la propriété "author" (avec getter et setter) de l'entity Comment
-2 Recréer la propriété 'author' en tant que relation avec l'entity User : un utilisateur peut avoir plusieurs commentaires,  un commentaire n'appartient qu'à un seul utilisateur
-3 Vider la table Comment puis faire les migrations
4. Créer le formulaire d'ajout de commentaire : le formulaire ne contient que le champ 'content' pour taper le contenu du commentaire (make:form)
5. Dans le fichier BlogController.php, dans la méthode show(), rajouter le code nécessaire à l'ajout du commentaire lorsque le formulaire est soumis et valide.
6. Modifier le fichier show.html.twig pour afficher le formulaire d'ajout de commentaire seulement si l'utilisateur est connecté. Changer aussi
l'affichage de l'auteur.
7. Si l'utilisateur n'est pas connecté, afficher un lien vers la page de connexion.


#}
